@model IEnumerable<Identity.Models.ProfessionViewModel>

@{
    ViewBag.Title = "Profession";
}

<h2>Profession</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProfessionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfessionDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProfessionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfessionDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
