@using Microsoft.AspNet.Identity
@using System.Security.Claims
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @if (User.IsInRole("Admin"))
        {
            <li>
                @Html.ActionLink("Overview", "Overview", "Account", routeValues: null, htmlAttributes: new { title = "Overview" })
            </li>
        }
        @if (User.IsInRole("User"))
        {
            
        }
        <li>
            @Html.ActionLink("Hello, " + ((ClaimsIdentity)User.Identity).FindFirstValue(ClaimTypes.GivenName) + "!", "UserIndex", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register Company", "RegisterCompany", "Account", routeValues: null, htmlAttributes: new { id = "registerCompanyLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
